<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- push전송 permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- foreground 서비스 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> <!-- 사용자 정의 permission 선언 -->
    <permission
        android:name="com.android.practice.news.funny.PRIVATE"
        android:protectionLevel="signature" /> <!-- permission 사용 선언 -->
    <uses-permission android:name="com.android.practice.news.funny.PRIVATE" />

    <queries>
        <package android:name="com.android.remote_binder" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practice"
        tools:targetApi="31">
        <activity
            android:name=".bindService.RemoteActivity"
            android:exported="false" />
        <activity
            android:name=".bindService.LocalBindActivity"
            android:exported="false" />

        <receiver
            android:name=".broadcastReceiver.UserPermissionReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".broadcastReceiver.BroadcastReceiverActivity"
            android:exported="false" />

        <receiver
            android:name=".broadcastReceiver.LocaleChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastReceiver.NewsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="example.MY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyForeService"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".bindService.BoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service.StartServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LayoutAttributeActivity"
            android:exported="false" />
        <activity
            android:name=".UiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SubActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>